.my-acontainer {
  max-width: 1438px;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 84px auto;
  border-left: 1px solid #d0d1d2;
  border-right: 1px solid #d0d1d2;
}

.my-acontainer .my-acontent {
  width: 100%;
  /* display: grid;
  grid-template-columns: 1fr; */
}

.my-acontainer .center-ah-con {
  overflow: hidden;
  background-color: #f2f2f7;
  padding: 20px;
  /* height: 100vh; */
}

.my-acontainer .avatar-imga {
  margin-left: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

.my-acontainer .avatar-imga img {
  width: 53px !important;
  height: 53px !important;
  border-radius: 13px;
  width: 100%;
}
